.box {
  background-color: rgb(216, 218, 148);
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  min-height: 250px;
  max-height: 40vh;
  webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  margin: 20px;
  width: 10%;
  min-width: 200px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(20%-40px);
}

.content {
  margin: 7%;
  height: 60%;
}

.image {
  width: 100%;
  height: 40%;
}

.front2 {
  /* width: 50%; */
}

.title {
  font-size: 14px;
}

.text {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 130%;
  align-content: center;
  align-items: center;
  margin-left: -22px;
}

.button {
  margin-right: 5px;
  margin-left: 0px;
}
